{
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "rangeStart": 0,
  "bracketSpacing": true,
  "trailingComma": "all",
  "quoteProps": "as-needed",
  "singleQuote": true,
  "semi": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false
}
